# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Follow symbolic links in this directory.
Options +FollowSymLinks

# Set the default handler.
DirectoryIndex index.php

# Beauty URLs
# If your server does not support this feature, you should edit the beautyurls boolean in the settings.php file so it says false instead of true.
# Please note that this is a standard feature for most shared hosting services.
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule ^index.html$ index.php [L,QSA]
	# Any attempt to access PHP files in the system directory will cause a 404 error page to show up.
	RewriteRule ^system/*.php$ index.php?q=404 [L,QSA]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]
</IfModule>

